* {
  font-family: sans-serif;
}

.header {
  padding: 2rem;
  background: black;
}

.header__logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.main {
  padding-bottom: 2.5rem;
}